<div class="entry">
  <h1>Please find details below {{firstName}}:</h1>
  <div class="body">
    <p style="color:red">Thank you for ordering the {{bundle}} bundle. This is {{cask}} casks worth €{{price}}.</p>
    <p style="text-shadow: rebeccapurple">Here is my bank details: 1</p>
  </div>
</div>