<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Irish Whiskey Assets — Invest in Irish Whiskey</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Libre+Baskerville" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
</head>

<body>
	<!-- Navigation Header -->
	<div class="header">
		<div class="header__links">
			<a href="#"><img src="img/iwa-logo.png" class="header__logo"></a>
		</div>
		<div class="header__links">
			<a href="/" class="header__link">Home</a>
			<a href="/how-it-works" class="header__link">How it works</a>
			<a href="#" class="header__link">Selling your casks</a>
			<a href="#" class="header__link">Security</a>
			<a href="#" class="header__link header__link--accent">Contact</a>
			<div class="hamburger-container">
				<div class="hamburger" id="hamburger-1">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile navigation menu -->
	<div class="mobile-menu">
			<a href="/" class="mobile-menu__link mobile-menu__top-link">Home</a>
			<a href="/how-it-works" class="mobile-menu__link">How it works</a>
			<a href="#" class="mobile-menu__link">Selling your casks</a>
			<a href="#" class="mobile-menu__link">Security</a>
			<a href="#" class="mobile-menu__link">Contact</a>
			<span class="mobile-menu__divider"></span>
			<div class="mobile-menu__social">
				<a href="#"><img src="img/instagram-icon.svg" class="mobile-menu__social-icon"></a>
				<a href="#"><img src="img/facebook-icon.svg" class="mobile-menu__social-icon"></a>
				<a href="#"><img src="img/linkedin-icon.svg" class="mobile-menu__social-icon"></a>
			</div>
	</div>

	<!-- Hero section -->
	<div class="hero">
		<div class="hero__cta">
			<div class="hero__cta--wrapper">
				<h1>Invest in Irish Whiskey</h1>
				<h4>The fastest growing spirit in the world.</h4>
				<a href="#"><div class="cta-button">Find out more</div></a>
			</div>
		</div>
		<div class="hero__image-container">
			<img src="img/hero-casks.png" class="hero__image">
		</div>
	</div>

	<!-- Intro section -->
	<div class="intro">
		<div class="intro__inner">
			<h3>Introduction</h3>
			<h1>Why Irish Whiskey?</h1>
			<p>In fact, since 1990, Irish whiskey has been the fasted growing spirit in the world. 
				The sector is undergoing a renaissance and export sales are forecast to double between 
				2015 and 2020 and double again by 2030. Irish whiskey exports are up 220% since 2007. 
				Industry experts predict that Irish whiskey will struggle to keep pace with demand over the coming years, 
				potentially leading to increased prices.</p>
			<p>The combination of these factors makes a compelling case for investing 
				in Irish whiskey. However, until now, investing in Irish whiskey was outside the scope of the average investor. 
				This is where Irish Whiskey Assets is a game changer.</p>
			<img src="img/casks.png" class="whiskey-still">
		</div>
	</div>

	<!-- Calculator section -->

	<div class="calculator-container">
		<h2>Calculate potential gross returns</h2>
	
		<div class="slider-section">
		    <h5 class="slider-heading">Select a bundle</h5>
		    <div class="bundle-container" onclick="selectBundle(event)">
				<div class="bundle-option" id="bundle-1">Bronze</div>
				<div class="bundle-option" id="bundle-2">Silver</div>
				<div class="bundle-option" id="bundle-3">Gold</div>
				<div class="bundle-option" id="bundle-4">Diamond</div>
				<div class="bundle-option" id="bundle-5">Platinum</div>
			</div>
			<div class="result-container top">
				<h5 id="casks-title">Investment cost for 0 casks:</h5>
				<div class="result" id="result-1">€0</div>
			</div>
		</div>
	
		<div class="slider-section">
		    <h5 class="slider-heading"> How long do you plan to allow your casks to mature?</h5>
		    <div class="slider-container">
				<input type="range" min="1" max="20" value="0" class="slider" id="slider-2" oninput="setResults()">
				<div class="range-indicator" id="yearNumber">0 years</div>
		    </div>
		</div>

		<h5 class="selling-options-heading">Select a selling option:</h5>
		<div class="selling-options" onclick="selectOption(event)">
		    <div class="selling-option selected" id="btn-1">Auctioning</div>
		    <div class="selling-option" id="btn-2">Wholesale</div>
		    <div class="selling-option" id="btn-3">Bottling</div>
		    <div class="selling-option" id="btn-4">Mature to rare</div>
		</div>
	
		<div class="selling-option-outer">
		    <div class="selling-option-info active" id="option-1">
			<div class="selling-option-image">
			    <img src="img/auction.svg" class="option-image option-image__auction">
			</div>
			<div class="selling-option-text">
			    <h2 id="selling-heading">Auctioning</h2>
			    <p id="selling-body">As Irish whiskey is in worldwide demand, cask owners may wish to offer their casks on the open market to wholesalers, own label retailers or collectors. In 2018, a small number of Single Pot Still, 32-year-old Redbreast Whiskey, was snapped up at €500 per bottle. Some owners may wish to bottle and label their whiskey, which Irish Whiskey Assets can assist with.</p>
			</div>
		    </div>
		    <div class="selling-option-info" id="option-2">
			<div class="selling-option-image">
			    <img src="img/whiskey-still.svg" class="option-image">
			</div>
			<div class="selling-option-text">
			    <h2 id="selling-heading">Wholesale</h2>
			    <p id="selling-body">As Irish whiskey is in worldwide demand, cask owners may wish to offer their casks on the open market to wholesalers, own label retailers or collectors. In 2018, a small number of Single Pot Still, 32-year-old Redbreast Whiskey, was snapped up at €500 per bottle. Some owners may wish to bottle and label their whiskey, which Irish Whiskey Assets can assist with.</p>
			</div>
		    </div>
	
		    <div class="selling-option-info" id="option-3">
			<div class="selling-option-image">
			    <img src="img/whiskey-bottle.svg" class="option-image bottle-1">
			</div>
			<div class="selling-option-text">
			    <h2 id="selling-heading">Bottling</h2>
			    <p id="selling-body">As Irish whiskey is in worldwide demand, cask owners may wish to offer their casks on the open market to wholesalers, own label retailers or collectors. In 2018, a small number of Single Pot Still, 32-year-old Redbreast Whiskey, was snapped up at €500 per bottle. Some owners may wish to bottle and label their whiskey, which Irish Whiskey Assets can assist with.</p>
			</div>
		    </div>
	
		    <div class="selling-option-info" id="option-4">
			<div class="selling-option-image">
			    <img src="img/whiskey-bottle-rare.svg" class="option-image bottle-2">
			</div>
			<div class="selling-option-text">
			    <h2 id="selling-heading">Mature until rare</h2>
			    <p id="selling-body">As Irish whiskey is in worldwide demand, cask owners may wish to offer their casks on the open market to wholesalers, own label retailers or collectors. In 2018, a small number of Single Pot Still, 32-year-old Redbreast Whiskey, was snapped up at €500 per bottle. Some owners may wish to bottle and label their whiskey, which Irish Whiskey Assets can assist with.</p>
			</div>
		    </div>
	
		</div>
		<div class="result-container">
			<h5>Estimated gross return on investment:</h5>
			<div class="result result-final" id="result-2">€0</div>
		    </div>
	
		<a href="#" class="calculator-cta">
		    <div>
			<h5>Get in touch</h5>
		    </div>
		</a>
	
	    </div>

	    <!-- Home Bottom CTA -->
	    <div class="home-bottom-cta">
		<h1>Start investing in Irish Whiskey</h1>
		<h5>Contact us today to get started</h5>
		<a href="#"><div class="cta-button">Get in touch</div></a>
	    </div>

	    <!-- Footer -->
	    <div class="footer">
		<div class="footer--left">
			<img src="img/iwa-logo-footer.svg" class="footer--logo">
			<p>© 2019 Irish Whiskey Assets Ltd.Company Registered in Ireland, No 624519 Unit 4, <br>
			Roof Garden Offices, Clarehall Shopping Centre, Dublin 17, D17 PW81, Ireland </p>
		</div>
		<div class="footer--right">
			<a href="#"><img src="img/instagram-icon.svg" class="footer--social-icon"></a>
			<a href="#"><img src="img/facebook-icon.svg" class="footer--social-icon"></a>
			<a href="#"><img src="img/linkedin-icon.svg" class="footer--social-icon"></a>
		</div>
	    </div>



	    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	    <script src="js/main.js" type="text/javascript"></script>
	    <script src="js/calculator.js" type="text/javascript"></script>
</body>

</html>