<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Irish Whiskey Assets — Invest in Irish Whiskey</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Libre+Baskerville" rel="stylesheet">
	<link href="css/lity.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118603426-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-118603426-1');
	</script>
	<!-- Global site tag (gtag.js) - Google Ads: 752490609 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-752490609"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'AW-752490609');
	</script>

</head>

<body>
	<!-- Navigation Header -->
	<div class="header">
		<div class="header__links">
			<a href="/"><img src="img/iwa-logo.png" class="header__logo"></a>
		</div>
		<div class="header__links">
			<a href="/" class="header__link">Home</a>
			<a href="/our-investment-model" class="header__link">Our Investment Model</a>
			<a href="/step-by-step" class="header__link">Step by Step</a>
			<a href="/selling" class="header__link">Selling your casks</a>
			<a href="https://mccarthyswhiskey.ie/" class="header__link">McCarthy's Irish Whiskey</a>
			<a href="/contact" class="header__link">Contact</a>
			<a href="/purchase" class="header__link header__link--accent">Purchase casks</a>
			<a href="https://www.instagram.com/irishwhiskeyassets/"><img src="img/instagram-icon.svg"
					class="header__social-link"></a>
			<a href="https://www.facebook.com/IrishWhiskeyAssets/"><img src="img/facebook-icon.svg"
					class="header__social-link"></a>
			<a href="https://www.linkedin.com/company/irish-whiskey-assets"><img src="img/linkedin-icon.svg"
					class="header__social-link"></a>
			<a href="https://www.youtube.com/channel/UCcB-FKkzCCS74bN1pVJ0otA"><img src="img/youtube-icon.svg" class="header__social-link"></a>
			<div class="hamburger-container">
				<div class="hamburger" id="hamburger-1">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile navigation menu -->
	<div class="mobile-menu">
		<a href="/" class="mobile-menu__link mobile-menu__top-link">Home</a>
		<a href="/our-investment-model" class="mobile-menu__link">Our Investment Model</a>
		<a href="/step-by-step" class="mobile-menu__link">Step by Step</a>
		<a href="/selling" class="mobile-menu__link">Selling your casks</a>
		<a href="https://mccarthyswhiskey.ie/" class="mobile-menu__link mccarthys">McCarthy's Whiskey</a>
		<a href="/contact" class="mobile-menu__link">Contact</a>
		<a href="/purchase" class="mobile-menu__link">Purchase casks</a>
		<span class="mobile-menu__divider"></span>
		<div class="mobile-menu__social">
			<a href="https://www.instagram.com/irishwhiskeyassets/"><img src="img/instagram-icon.svg"
					class="mobile-menu__social-icon"></a>
			<a href="https://www.facebook.com/IrishWhiskeyAssets/"><img src="img/facebook-icon.svg"
					class="mobile-menu__social-icon"></a>
			<a href="https://www.linkedin.com/company/irish-whiskey-assets"><img src="img/linkedin-icon.svg"
					class="mobile-menu__social-icon"></a>
			<a href="https://www.youtube.com/channel/UCcB-FKkzCCS74bN1pVJ0otA"><img src="img/youtube-icon.svg"
					class="mobile-menu__social-icon"></a>
		</div>
	</div>

	<!-- Hero section -->
	<div class="hero">
		<div class="hero__cta">
			<div class="hero__cta--wrapper">
				<h1>Invest in the Spirit of Ireland</h1>
				<h4>Irish whiskey is the fastest growing spirit in the world.</h4>
				<div class="hero-cta-group">
					<a href="/our-investment-model">
						<div class="cta-button">Find out more</div>
					</a>
					<a href="https://www.youtube.com/watch?v=7pae28QLBrA&feature=youtu.be" data-lity class="hero-video-link">
						<h5>Watch Introduction Video</h5>
						<img src='img/play.svg' class='video-play'>
					</a>
				</div>
			</div>
		</div>
		<div class="hero__image-container">
			<img src="img/hero-casks.png" class="hero__image">
		</div>
	</div>

	<!-- Intro section -->
	<div class="intro">
		<div class="intro__inner">
			<h3>Introduction</h3>
			<h1>Why Irish Whiskey?</h1>
			<a href="https://www.youtube.com/watch?v=nDq_S7BjOCQ&feature=youtu.be" data-lity class="intro-video-link">
				<h5>Watch Master Coopering Video</h5>
				<img src='img/play.svg' class='video-play'>
			</a>
			<p>Irish whiskey is experiencing an unparalleled renaissance, in fact it’s the fast-growing spirit in the
				world, an accolade it’s held since 1990. Irish whiskey is quite simply on fire, with exports projected
				to double between 2015 and 2020, and double again by 2030. No other spirit currently holds this promise.
			</p>
			<p>Yet we’ve barely skimmed the surface of Irish whiskey’s original glory. At one time, it held 60% of the
				world’s spirits market. At 4% today, that figure is poised for immense growth. And with demand already
				exceeding supply, Irish whiskey makes an exceptional case for investment.</p>
			<div class="final-p">
				<p>At Irish Whiskey Assets, our team of experts can guarantee a friendly and professional service. Our
					investment model is both uncomplicated and sustainable. Once you purchase your casks, we place your
					order with our renowned partner distillery. The quality of the whiskey produced here is some of the
					finest in Ireland.
					<div class="read-more-overlay"></div>
				</p>
			</div>
			<div class="hide-p read-more-p" id="hiddenParagraph">
				<p>We then allow your casks to mature over the coming years. During this time, they remain securely
					stored and insured at the distillery under our watch.</p>
				<p>At an agreed point in time we will offer to buy the matured whiskey back from you at a higher price,
					ensuring you make a profit. This is what makes our investment model unique and extremely sought
					after.</p>
				<p>Our pricing structure is also the most competitive on the market. But it doesn’t end there, a
					selection of other exciting exit options are also open to our investors, such as auctioning your
					whiskey.</p>
				<p>The angels won’t be the only ones to get their share this time. At Irish Whiskey Assets, your
					investment in Ireland’s legacy is safe and secure in our hands.</p>
				<p>Contact Mark Forman today for more information <strong><a
							href="mailto:founder@irishwhiskeyassets.com">founder@irishwhiskeyassets.com</a></strong> or
					<strong>(+353) 1 588 0189</strong></p>
			</div>

			<span class="read-more cta-button" onclick="readMore()">Read more</span>
			<img src="img/casks.png" class="whiskey-still">
		</div>
	</div>

	<!-- Calculator section -->
	<!-- 
	<div class="calculator-container">
		<h2>Calculate potential gross returns</h2>
	
		<div class="slider-section">
		    <h5 class="slider-heading">Select a bundle</h5>
		    <div class="bundle-container" onclick="selectBundle(event)">
				<div class="bundle-option" id="bundle-1">Bronze</div>
				<div class="bundle-option" id="bundle-2">Silver</div>
				<div class="bundle-option" id="bundle-3">Gold</div>
				<div class="bundle-option" id="bundle-4">Diamond</div>
				<div class="bundle-option" id="bundle-5">Platinum</div>
			</div>
			<div class="result-container top">
				<h5 id="casks-title">Investment cost for 0 casks:</h5>
				<div class="result" id="result-1">€0</div>
			</div>
		</div>
	
		<div class="slider-section">
		    <h5 class="slider-heading"> How long do you plan to allow your casks to mature?</h5>
		    <div class="slider-container">
				<input type="range" min="1" max="20" value="0" class="slider" id="slider-2" oninput="setResults()">
				<div class="range-indicator" id="yearNumber">0 years</div>
		    </div>
		</div>

		<h5 class="selling-options-heading">Select a selling option:</h5>
		<div class="selling-options" onclick="selectOption(event)">
		    <div class="selling-option selected" id="btn-1">Auctioning</div>
		    <div class="selling-option" id="btn-2">Wholesale</div>
		    <div class="selling-option" id="btn-3">Bottling</div>
		    <div class="selling-option" id="btn-4">Mature to rare</div>
		</div>
	
		<div class="selling-option-outer">
		    <div class="selling-option-info active" id="option-1">
			<div class="selling-option-image">
			    <img src="img/auction.svg" class="option-image option-image__auction">
			</div>
			<div class="selling-option-text">
			    <h2 id="selling-heading">Auctioning</h2>
			    <p id="selling-body">As Irish whiskey is in worldwide demand, cask owners may wish to offer their casks on the open market to wholesalers, own label retailers or collectors. In 2018, a small number of Single Pot Still, 32-year-old Redbreast Whiskey, was snapped up at €500 per bottle. Some owners may wish to bottle and label their whiskey, which Irish Whiskey Assets can assist with.</p>
			</div>
		    </div>
		    <div class="selling-option-info" id="option-2">
			<div class="selling-option-image">
			    <img src="img/whiskey-still.svg" class="option-image whiskey-still">
			</div>
			<div class="selling-option-text">
			    <h2 id="selling-heading">Wholesale</h2>
			    <p id="selling-body">As Irish whiskey is in worldwide demand, cask owners may wish to offer their casks on the open market to wholesalers, own label retailers or collectors. In 2018, a small number of Single Pot Still, 32-year-old Redbreast Whiskey, was snapped up at €500 per bottle. Some owners may wish to bottle and label their whiskey, which Irish Whiskey Assets can assist with.</p>
			</div>
		    </div>
	
		    <div class="selling-option-info" id="option-3">
			<div class="selling-option-image">
			    <img src="img/whiskey-bottle.svg" class="option-image bottle-1">
			</div>
			<div class="selling-option-text">
			    <h2 id="selling-heading">Bottling</h2>
			    <p id="selling-body">As Irish whiskey is in worldwide demand, cask owners may wish to offer their casks on the open market to wholesalers, own label retailers or collectors. In 2018, a small number of Single Pot Still, 32-year-old Redbreast Whiskey, was snapped up at €500 per bottle. Some owners may wish to bottle and label their whiskey, which Irish Whiskey Assets can assist with.</p>
			</div>
		    </div>
	
		    <div class="selling-option-info" id="option-4">
			<div class="selling-option-image">
			    <img src="img/whiskey-bottle-rare.svg" class="option-image bottle-2">
			</div>
			<div class="selling-option-text">
			    <h2 id="selling-heading">Mature until rare</h2>
			    <p id="selling-body">As Irish whiskey is in worldwide demand, cask owners may wish to offer their casks on the open market to wholesalers, own label retailers or collectors. In 2018, a small number of Single Pot Still, 32-year-old Redbreast Whiskey, was snapped up at €500 per bottle. Some owners may wish to bottle and label their whiskey, which Irish Whiskey Assets can assist with.</p>
			</div>
		    </div>
	
		</div>
		<div class="result-container">
			<h5>Estimated gross return on investment:</h5>
			<div class="result result-final" id="result-2">€0</div>
		    </div>
	
		<a href="#" class="calculator-cta">
		    <div>
			<h5>Get in touch</h5>
		    </div>
		</a>
	
	    </div> -->

	<!-- Home Bottom CTA -->
	<div class="home-bottom-cta">
		<h1>Start investing in Irish Whiskey</h1>
		<h5>Contact us today to get started</h5>
		<a href="/contact">
			<div class="cta-button">Get in touch</div>
		</a>
	</div>

	<!-- Cookie popup -->
	<div id="cookie-popup">
		<span class="cookie-text">We use cookies to ensure that we give you the best experience on our website. If you
			continue to use this site we will assume that you are happy with it. </span><br class="cookie-break">
		<span class="cookie-cta" onclick="acceptCookies()">Accept</span>
		<a href="https://irishwhiskeyassets.s3-eu-west-1.amazonaws.com/privacy+policy+IWA+dated+23.3.19.doc"><span
				class="cookie-cta cookie-cta__privacy">Cookie Policy</span></a>
	</div>

	<!-- Footer -->
	<div class="footer">
		<div class="footer--left">
			<img src="img/iwa-logo-footer.svg" class="footer--logo">
			<p>© 2019 Irish Whiskey Assets Ltd.Company Registered in Ireland.<br>WeWork Offices 1-119,
				2 Dublin Landings, N Wall Quay, North Dock, Dublin, D01 V4A3</p>
		</div>
		<div class="footer--right">
			<a href="https://www.instagram.com/irishwhiskeyassets/"><img src="img/instagram-icon.svg"
					class="footer--social-icon"></a>
			<a href="https://www.facebook.com/IrishWhiskeyAssets/"><img src="img/facebook-icon.svg"
					class="footer--social-icon"></a>
			<a href="https://www.linkedin.com/company/irish-whiskey-assets"><img src="img/linkedin-icon.svg"
					class="footer--social-icon"></a>
			<a href="https://www.youtube.com/channel/UCcB-FKkzCCS74bN1pVJ0otA"><img src="img/youtube-icon.svg"
					class="footer--social-icon"></a>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="js/lity.js"></script>
	<script src="js/main.js" type="text/javascript"></script>
	<script src="js/calculator.js" type="text/javascript"></script>
	<script src="js/cookies.js" type="text/javascript"></script>
	<script>
		window.intercomSettings = {
			app_id: "mw8nldo7"
		};
	</script>

	<script>
		(function () {
			var w = window;
			var ic = w.Intercom;
			if (typeof ic === "function") {
				ic('reattach_activator');
				ic('update', w.intercomSettings);
			} else {
				var d = document;
				var i = function () {
					i.c(arguments);
				};
				i.q = [];
				i.c = function (args) {
					i.q.push(args);
				};
				w.Intercom = i;
				var l = function () {
					var s = d.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = 'https://widget.intercom.io/widget/mw8nldo7';
					var x = d.getElementsByTagName('script')[0];
					x.parentNode.insertBefore(s, x);
				};
				if (w.attachEvent) {
					w.attachEvent('onload', l);
				} else {
					w.addEventListener('load', l, false);
				}
			}
		})();
	</script>
</body>

</html>