<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Irish Whiskey Assets — Invest in Irish Whiskey</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Libre+Baskerville" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118603426-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-118603426-1');
	</script>
	<!-- Global site tag (gtag.js) - Google Ads: 752490609 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-752490609"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'AW-752490609');
	</script>


</head>

<body>
	<!-- Navigation Header -->
	<div class="header">
		<div class="header__links">
			<a href="/"><img src="img/iwa-logo.png" class="header__logo"></a>
		</div>
		<div class="header__links">
			<a href="/" class="header__link">Home</a>
			<a href="/our-investment-model" class="header__link">Our Investment Model</a>
			<a href="/step-by-step" class="header__link">Step by Step</a>
			<a href="/selling" class="header__link">Selling your casks</a>
			<a href="https://mccarthyswhiskey.ie/" class="header__link">McCarthy's Irish Whiskey</a>
			<a href="/contact" class="header__link">Contact</a>
			<a href="/purchase" class="header__link header__link--accent">Purchase casks</a>
			<a href="https://www.instagram.com/irishwhiskeyassets/"><img src="img/instagram-icon.svg"
					class="header__social-link"></a>
			<a href="https://www.facebook.com/IrishWhiskeyAssets/"><img src="img/facebook-icon.svg"
					class="header__social-link"></a>
			<a href="https://www.linkedin.com/company/irish-whiskey-assets"><img src="img/linkedin-icon.svg"
					class="header__social-link"></a>
			<div class="hamburger-container">
				<div class="hamburger" id="hamburger-1">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile navigation menu -->
	<div class="mobile-menu">
		<a href="/" class="mobile-menu__link mobile-menu__top-link">Home</a>
		<a href="/our-investment-model" class="mobile-menu__link">Our Investment Model</a>
		<a href="/step-by-step" class="mobile-menu__link">Step by Step</a>
		<a href="/selling" class="mobile-menu__link">Selling your casks</a>
		<a href="https://mccarthyswhiskey.ie/" class="mobile-menu__link mccarthys">McCarthy's Whiskey</a>
		<a href="/contact" class="mobile-menu__link">Contact</a>
		<a href="/purchase" class="mobile-menu__link">Purchase casks</a>
		<span class="mobile-menu__divider"></span>
		<div class="mobile-menu__social">
			<a href="https://www.instagram.com/irishwhiskeyassets/"><img src="img/instagram-icon.svg"
					class="mobile-menu__social-icon"></a>
			<a href="https://www.facebook.com/IrishWhiskeyAssets/"><img src="img/facebook-icon.svg"
					class="mobile-menu__social-icon"></a>
			<a href="https://www.linkedin.com/company/irish-whiskey-assets"><img src="img/linkedin-icon.svg"
					class="mobile-menu__social-icon"></a>
		</div>
	</div>

	<!-- Hero section -->

	<div class="process-hero">
		<h3>How it works</h3>
		<h1>Our Investment Model</h1>
		<p>The widely respected Irish Whiskey Assets’ model allows investors to purchase casks of new-fill single malt
			whiskey from our renowned partner distillery at a wholesale price. This ensures future profits for the cask
			owners whilst also creating cash flow for the distillery. For full details on our pricing structure contact
			<strong><a href="mailto:founder@irishwhiskeyassets.com">founder@irishwhiskeyassets.com.</a></strong></p>
	</div>

	<!-- Main body section -->
	<div class="model-body">
		<p>Our award-winning partner distillery is the largest independent distillery in Ireland. It also holds the
			globally recognised Origin Green certification for sustainable production and is committed to the strict
			geographical indication protection guidelines for Irish whiskey. Therefore, our investors are assured of
			consistency of quality and supply.</p>
		<p>As soon as you invest with us, your whiskey will be distilled and decanted into your very own casks. Each
			cask
			is then barcoded and registered in your name. These casks will then remain securely stored under Bond at the
			distillery warehouse where they are fully insured for fire and theft.</p>
		<p>As proof of ownership and authenticity, you will receive a Certificate of Ownership and a Certificate of
			Provenance, signed by the Directors of both our partner distillery and of Irish Whiskey Assets.</p>
		<p>Our investment model has been carefully developed by a team of experts to be simple and sustainable. It
			balances
			security with the potential for above average returns. While our model in Ireland is relatively new, similar
			models have operated with great success in Scotland for decades. Now it’s our time.</p>
		<p>It’s simple, whiskey increases in value as it ages and therefore is an appreciating asset. Once the spirit
			has
			been cask matured for at least 3 years and a day, it can be classified as ‘Irish Whiskey’. It’s now a
			valuable,
			tradable commodity which can be sold at a considerable profit.</p>
		<p>All our casks are 200 Litre and ex-Bourbon to impart superior flavour. Typically, each cask will yield
			between
			350 and 420 standard 70cl bottles, depending on how long you choose to age your whiskey. After maturity, we
			can
			offer the possibility to finish your whiskey in a different cask to create a unique taste profile. Your
			whiskey
			is 100% single malt Irish whiskey, universally recognised as a premium product.</p>
		<p>While it can be sold after 3 years, the longer you hold your cask in Bond, the higher the potential returns.
			We
			recommend letting your cask age for at least 5 years. In recent times, record prices have been achieved at
			auction for rare Irish whiskey. The older the whiskey, the greater the reward.</p>

	</div>


	<!-- Bottom cta -->
	<div class="home-bottom-cta">
		<h1>Start investing in Irish Whiskey</h1>
		<h5>Contact us today to get started</h5>
		<a href="/contact">
			<div class="cta-button">Get in touch</div>
		</a>
	</div>

	<!-- Cookie popup -->
	<div id="cookie-popup">
		<span class="cookie-text">We use cookies to ensure that we give you the best experience on our website. If you
			continue to use this site we will assume that you are happy with it. </span><br class="cookie-break">
		<span class="cookie-cta" onclick="acceptCookies()">Accept</span>
		<a href="https://irishwhiskeyassets.s3-eu-west-1.amazonaws.com/privacy+policy+IWA+dated+23.3.19.doc"><span
				class="cookie-cta cookie-cta__privacy">Cookie Policy</span></a>
	</div>

	<!-- Footer -->
	<div class="footer">
		<div class="footer--left">
			<img src="img/iwa-logo-footer.svg" class="footer--logo">
			<p>© 2019 Irish Whiskey Assets Ltd.Company Registered in Ireland.<br>WeWork Offices 1-119,
				2 Dublin Landings, N Wall Quay, North Dock, Dublin, D01 V4A3</p>
		</div>
		<div class="footer--right">
			<a href="https://www.instagram.com/irishwhiskeyassets/"><img src="img/instagram-icon.svg"
					class="footer--social-icon"></a>
			<a href="https://www.facebook.com/IrishWhiskeyAssets/"><img src="img/facebook-icon.svg"
					class="footer--social-icon"></a>
			<a href="https://www.linkedin.com/company/irish-whiskey-assets"><img src="img/linkedin-icon.svg"
					class="footer--social-icon"></a>
		</div>
	</div>


	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.parallax-scroll.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="js/main.js" type="text/javascript"></script>
	<script src="js/slick-slider.js" type="text/javascript"></script>
	<script src="js/calculator.js" type="text/javascript"></script>
	<script src="js/cookies.js" type="text/javascript"></script>

	<script>
		window.intercomSettings = {
			app_id: "mw8nldo7"
		};
	</script>

	<script>
		(function () {
			var w = window;
			var ic = w.Intercom;
			if (typeof ic === "function") {
				ic('reattach_activator');
				ic('update', w.intercomSettings);
			} else {
				var d = document;
				var i = function () {
					i.c(arguments);
				};
				i.q = [];
				i.c = function (args) {
					i.q.push(args);
				};
				w.Intercom = i;
				var l = function () {
					var s = d.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = 'https://widget.intercom.io/widget/mw8nldo7';
					var x = d.getElementsByTagName('script')[0];
					x.parentNode.insertBefore(s, x);
				};
				if (w.attachEvent) {
					w.attachEvent('onload', l);
				} else {
					w.addEventListener('load', l, false);
				}
			}
		})();
	</script>
</body>

</html>