<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Irish Whiskey Assets — Invest in Irish Whiskey</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Libre+Baskerville" rel="stylesheet">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
</head>

<body>
	<!-- Navigation Header -->
	<div class="header">
		<div class="header__links">
			<a href="/"><img src="img/iwa-logo.png" class="header__logo"></a>
		</div>
		<div class="header__links">
			<a href="/" class="header__link">Home</a>
			<a href="/our-investment-model" class="header__link">Our Investment Model</a>
			<a href="/step-by-step" class="header__link">Step by Step</a>
			<a href="/selling" class="header__link">Selling your casks</a>
			<a href="/contact" class="header__link">Contact</a>
			<a href="/purchase" class="header__link header__link--accent">Purchase casks</a>
			<a href="https://www.instagram.com/irishwhiskeyassets/"><img src="img/instagram-icon.svg"
					class="header__social-link"></a>
			<a href="https://www.facebook.com/IrishWhiskeyAssets/"><img src="img/facebook-icon.svg"
					class="header__social-link"></a>
			<a href="https://www.linkedin.com/company/irish-whiskey-assets"><img src="img/linkedin-icon.svg"
					class="header__social-link"></a>
			<div class="hamburger-container">
				<div class="hamburger" id="hamburger-1">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile navigation menu -->
	<div class="mobile-menu">
		<a href="/" class="mobile-menu__link mobile-menu__top-link">Home</a>
		<a href="/our-investment-model" class="mobile-menu__link">Our Investment Model</a>
		<a href="/step-by-step" class="mobile-menu__link">Step by Step</a>
		<a href="/selling" class="mobile-menu__link">Selling your casks</a>
		<a href="/contact" class="mobile-menu__link">Contact</a>
		<a href="/purchase" class="mobile-menu__link">Purchase casks</a>
		<span class="mobile-menu__divider"></span>
		<div class="mobile-menu__social">
			<a href="https://www.instagram.com/irishwhiskeyassets/"><img src="img/instagram-icon.svg"
					class="mobile-menu__social-icon"></a>
			<a href="https://www.facebook.com/IrishWhiskeyAssets/"><img src="img/facebook-icon.svg"
					class="mobile-menu__social-icon"></a>
			<a href="https://www.linkedin.com/company/irish-whiskey-assets"><img src="img/linkedin-icon.svg"
					class="mobile-menu__social-icon"></a>
		</div>
	</div>

	<!-- Hero section -->

	<div class="process-hero">
		<h3>Next steps</h3>
		<h1>Purchase Casks</h1>
		<p>Purchasing your casks is very straightforward. Simply complete the short application form, upload
			your photo identification and select your preferred Cask Bundle. We will then be in touch to
			arrange a secure bank transfer. Following your purchase, you will receive a receipt and the step
			by step process will begin. All Cask Bundles include the casks, spirit, storage and insurance
			for five years. There are no hidden charges or fees.</p>
		<p>If you would like to make a purchase but the Cask Bundles are not ideal, please email <strong><a
					href='mailto:founder@irishwhiskeyassets.com'>founder@irishwhiskeyassets.com</a></strong>
		</p>
	</div>

	<!-- Purchasing form -->
	<div class="purchase-form-container">
		<div>
			<h5>Please verify that you are over 18 by submitting a picture of your Passport or Driver's
				Licence</h5>
			<form enctype="multipart/form-data" id="cpa-form">
				<input type="file" name="image" id="image">
				<!-- <input type="submit"> -->
			</form>
			<h5>Next, select a bundle and fill in the following form:</h5>
			<!-- <form class="purchase-form"> -->
			<div class="bundle-button" onclick='radioClicked(event)' id='bronze'>
				<div class="checkmark-container">
					<span class="checkmark" id="bronzeCheckmark"></span>
					<h4>Bronze</h4>
				</div>
				<h4 class="bundle-casks">2 casks</h4>
				<h4 class="bundle-price">€5995</h4>
			</div>
			<div class="bundle-button" onclick="radioClicked(event)" id="silver">
				<div class="checkmark-container">
					<span class="checkmark" id="silverCheckmark"></span>
					<h4>Silver</h4>
				</div>
				<h4 class="bundle-casks">5 casks</h4>
				<h4 class="bundle-price">€13995</h4>
			</div>
			<div class="bundle-button" onclick="radioClicked(event)" id="gold">
				<div class="checkmark-container">
					<span class="checkmark" id="goldCheckmark"></span>
					<h4>Gold</h4>
				</div>
				<h4 class="bundle-casks">10 casks</h4>
				<h4 class="bundle-price">€26995</h4>
			</div>
			<div class="bundle-button" onclick="radioClicked(event)" id="diamond">
				<div class="checkmark-container">
					<span class="checkmark" id="diamondCheckmark"></span>
					<h4>Diamond</h4>
				</div>
				<h4 class="bundle-casks">15 casks</h4>
				<h4 class="bundle-price">€38495</h4>
			</div>
			<div class="bundle-button" onclick="radioClicked(event)" id="platinum">
				<div class="checkmark-container">
					<span class="checkmark" id="platinumCheckmark"></span>
					<h4>Platinum</h4>
				</div>
				<h4 class="bundle-casks">25 casks</h4>
				<h4 class="bundle-price">€59995</h4>
			</div>
			<form class="purchase-form" id="purchaseForm" method="POST" action="/api/form/purchase">
				<input type="radio" name="bundle" value="Bronze" id="bronzeRadio" required>
				<input type="radio" name="bundle" value="Silver" id="silverRadio" required>
				<input type="radio" name="bundle" value="Gold" id="goldRadio" required>
				<input type="radio" name="bundle" value="Diamond" id="diamondRadio" required>
				<input type="radio" name="bundle" value="Platinum" id="platinumRadio" required>
				<div class="name-group">
					<input type='text' placeholder="First name" name="firstName" required>
					<input type='text' placeholder="Last name" name="lastName" required>
				</div>
				<input type='email' placeholder="Email" name="email" id="emailField" required>
				<input type='text' placeholder="Country" name="country" required>
				<input type='text' placeholder="City" name="city" required>
				<input type='text' placeholder="Address line 1" name="address1" required>
				<input type='text' placeholder="Address line 2" name="address2">
				<label class="checkContainer">I have read and agree to the <a href='/terms'>Terms &
						Conditions</a>
					<input type="checkbox" name="terms" required>
					<span class="checkmarkBox"></span>
				</label><br>
				<label class="checkContainer">I have read and understand the <a href='/privacy'>Privacy
						Policy</a>
					<input type="checkbox" name="privacy" required>
					<span class="checkmarkBox"></span>
				</label>
				<input type="text" id="imageURL" name="imageURL" placeholder="This can be hidden"
					required>
				<div id="errorMessage">Please make sure you have selected a bundle and that all the
					fields have been
					completed correctly.</div>
				<button id="submitButton" class="submit-button" type="button">Send Request</button>
			</form>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer">
		<div class="footer--left">
			<img src="img/iwa-logo-footer.svg" class="footer--logo">
			<p>© 2019 Irish Whiskey Assets Ltd.Company Registered in Ireland, No 624519 Unit 4, <br>
				Roof Garden Offices, Clarehall Shopping Centre, Dublin 17, D17 PW81, Ireland </p>
		</div>
		<div class="footer--right">
			<a href="#"><img src="img/instagram-icon.svg" class="footer--social-icon"></a>
			<a href="#"><img src="img/facebook-icon.svg" class="footer--social-icon"></a>
			<a href="#"><img src="img/linkedin-icon.svg" class="footer--social-icon"></a>
		</div>
	</div>


	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/main.js" type="text/javascript"></script>
	<script src="js/calculator.js" type="text/javascript"></script>
	<script src="js/purchase.js" type="text/javascript"></script>
</body>

</html>